body {
  font-family: "Inter", "FontAwesome", serif;
  font-style: normal;
  position: absolute;
}

.toolbar {
  position: fixed;
  width: 327px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #28352f;
}

.logo {
  text-decoration: none;
  color: #28352f;
  margin: 24px 24px 24px 24px;
}

.menu-icon {
  text-decoration: none;
  color: #28352f;
}

.header {
  margin: 78px 24px 1px 24px;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url('./img/header-illsutration-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.headline-top1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 58px 24px 1px 24px;
}

.headline-top2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37f;
  margin: 1px 24px 1px 24px;
}

.headline-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 44px 24px 24px 24px;
}

.nobull {
  list-style-type: none;
}

.links {
  width: 105px;
  display: flex;
  justify-content: space-between;
  color: #172b4d;
  margin: 24px 24px 24px 83px;
}

.social {
  font-size: 24px;
  color: #505f79;
  text-decoration: none;
}

.button-normal {
  text-align: center;
  margin: 24px 12px 24px 24px;
}

.my-recent-works {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 12px 24px 24px 24px;
}

.indicator {
  text-align: center;
  margin: 24px 12px 24px 24px;
}

.work-container {
  display: grid;
}

.work-item {
  margin: 12px 12px 24px 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.work-card {
  background: #fff;
  margin-top: 252px;
  border-radius: 8px;
}

.work-card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 12px 12px 12px 12px;
}

.work-card-tags {
  padding: 4px 4px 4px 4px;
}

.work-card-tag {
  float: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
  margin: 6px 6px 6px 6px;
  padding: 8px 8px 6px 6px;
}

.work-card-button {
  margin-top: 19px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: 3px solid #36b37f;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 24px;
}

.work-card-button:active {
  border: 3px solid #28352f;
}

.work-card-button:hover {
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
}

.work-card-button:focus {
  background: #008552;
}

.about-me {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url('./img/about-me.png');
  background-repeat: no-repeat;
}

.about-me-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.about-me-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 12px 12px 12px 12px;
}

.resume-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: 3px solid #36b37f;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 24px;
}

.resume-button:active {
  border: 3px solid #28352f;
}

.resume-button:hover {
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
}

.resume-button:focus {
  background: #008552;
}

.about-container {
  display: grid;
}

.about-item {
  height: 352px;
  margin: 12px 12px 24px 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.about-icon {
  width: 100px;
  margin: 28px 8px 8px 108px;
}

.about-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.about-tags {
  display: inline;
  float: left;
  padding-left: 11%;
}

.about-tag {
  float: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background: #fff;
  border-radius: 4px;
  margin: 6px 6px 6px 6px;
  padding: 8px 8px 6px 6px;
}

.form {
  margin: 6px 6px 24px 24px;
}

.form-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}
