/* Mobile version */

body {
  font-family: Inter, FontAwesome, serif;
  font-style: normal;
}

.body-background {
  background-image: url("img/contact-me.png");
  background-position: 100% 96%;
  background-repeat: no-repeat;
}

.toolbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #28352f;
  padding: 10px 0;
}

.logo {
  text-decoration: none;
  color: #28352f;
  margin: 0 0 0 24px;
}

.menu-icon {
  text-decoration: none;
  color: #28352f;
  margin: 0 24px 0 0;
}

.top-menu {
  display: none;
}

.headline {
  display: flex;
  flex-direction: column;
  background-image: url("./img/header-illsutration-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.headline-top1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 58px 24px 1px;
}

.headline-top2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37f;
  margin: 1px 24px;
}

.headline-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 44px 24px 24px;
}

.nobull {
  list-style-type: none;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #172b4d;
  padding: 1px;
}

.social {
  font-size: 24px;
  color: #505f79;
  text-decoration: none;
  margin: 24px;
  padding: 1px;
}

.button-normal {
  text-align: center;
}

.my-recent-works {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 24px;
}

.indicator {
  text-align: center;
  margin: 24px;
}

.work-container {
  display: grid;
}

.work-item {
  width: 87%;
  margin: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}

.work-item:hover {
  background-color: #fff;
}

.work-card {
  background: #fff;
  margin-top: 252px;
  border-radius: 8px;
}

.work-card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 12px;
}

.work-card-tags {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 4px;
}

.work-card-tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
  margin: 6px;
  padding: 8px 8px 6px 6px;
}

.work-card-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: 3px solid #36b37f;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 24px;
  transition: all 0.5s ease-out;
}

.work-card-button:active {
  border: 3px solid #28352f;
}

.work-card-button:hover {
  box-shadow: 1px 8px 16px rgb(54 179 127 / 24%);
}

.work-card-button:focus {
  background: #008552;
  border: 3px solid #008552;
}

.about-me {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("./img/about-me.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 12px;
}

.about-me-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 12px;
}

.resume-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: 3px solid #36b37f;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 24px;
  transition: all 0.5s ease-out;
}

.resume-button:active {
  border: 3px solid #28352f;
}

.resume-button:hover {
  box-shadow: 1px 8px 16px rgb(54 179 127 / 24%);
}

.resume-button:focus {
  background: #008552;
  border: 3px solid #008552;
}

.about-container {
  display: grid;
}

.about-item {
  width: 87%;
  height: 352px;
  margin: 12px 12px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.about-icon {
  height: 90px;
  margin: 40px 12px 10px;
}

.about-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.about-tags {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 1%;
}

.about-tag {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background: #fff;
  border-radius: 4px;
  margin: 6px;
  padding: 8px 8px 6px 6px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 42px 24px 24px;
}

.contact-me-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.contact-me-form {
  width: 327px;
}

.input-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 327px;
  height: 330px;
  padding: 0;
}

.input-container {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 327px;
}

.input-container > input:focus {
  outline: none;
}

.input-msg {
  margin: 12px;
  width: 293px;
  border: none;
  height: 80px;
}

.input-msg:focus {
  outline: none;
}

.input-name {
  margin: 15px 15px 16px 16px;
  width: 285px;
  border: none;
}

.input-email {
  margin: 15px 15px 16px 16px;
  width: 285px;
  border: none;
}

.email {
  width: 100%;
  height: 189px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .toolbar,
  .logo,
  .menu-icon {
    display: none;
  }

  .top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #28352f;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 10px;
    line-height: 28px;
  }

  .menu-portfolio,
  .menu-about,
  .menu-contact {
    text-decoration: none;
    color: #28352f;
    margin: 0 0 0 24px;
    transition: all 0.3s ease-out;
  }

  .menu-portfolio:hover,
  .menu-about:hover,
  .menu-contact:hover {
    font-size: 20px;
  }

  .headline {
    background-image: url("./img/Header-llustration-desktop.png");
  }

  .headline-text {
    margin: 0 20%;
  }

  .work-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-me {
    background-image: url("./img/illustration about me desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .about-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-me-text {
    margin: 0 20%;
  }

  .contact-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 42px 24px 24px;
    padding: 0 0 300px 0;
    border-bottom: 1px solid #dfe1e6;
  }

  .contact-me-text {
    width: 50%;
    margin: 0 24px 0 135px;
  }

  .input-list {
    align-items: flex-start;
  }

  .contact-me-form,
  .input-list,
  .input-container,
  .input-msg,
  .input-name,
  .input-email {
    width: 90%;
  }

  .email {
    display: none;
  }

  .body-background {
    background-image: url("img/contact-me-desktop.png");
    background-position: 100% 96%;
    background-repeat: no-repeat;
  }
}
